*{
  margin:0;
  padding:0
}
body{
  background-image: url('body-bgc-min.jpg');
  background-repeat: no-repeat;
  background-color: rgb(1,91,177);
  background-size: cover;
  height: 100%;
}
.App {
text-align: center;
width:300px;
margin:0 auto;
}

.error{
  font-weight: bolder;
  font-size: 25px;
}